Provides <a href="https://github.com/apollographql/apollo-client" target="_blank">Apollo Client</a> as a drupal library.

<h2>Dependencies</h2>

There are none, although a polyfill and ES6 transpilation are strongly recommended.

<h3>Polyfill</h3>

A polyfill will ensure feature parity between browsers and add missing functions. For a zero-config solution use <a href="https://drupal.org/project/polyfill" target="_blank">Babel polyfill</a>.

<h3>ES6 transpilation</h3>

Javascript transpilation process is already set up for Drupal core. You can use it in your project with this gist: https://gist.github.com/blazeyo/00bdebf35f51085f15642b960f7ebcaa

<h3>GraphQL</h3>

The library can be used with any GraphQL server, a common use case, however, is to use it for progressive decoupling. If that's what you're looking for then the site's local endpoint can be enabled by installing the <a href="https://drupal.org/project/graphql" target="_blank">GraphQL module</a>.

<h2>Example usage</h2>

<em>modulename</em>.libraries.yml

<code>
mylibrary:
  version: 1.x
  js:
    js/mylibrary.js: {}
  dependencies:
    - apollo/client
    - polyfill/babel
</code>

js/<em>mylibrary</em>.js

<code>
// ApollClient's server url defaults to /graphql, so this will connect to the
// local enpoint exposed by GraphQL module (https://drupal.org/project/graphql).
// See https://www.apollographql.com/docs/react/reference for available
// configuration options.
const client = new global.ApolloClient();

// Create a GraphQL query object by passing a tagged template literal to the gql
// function (provided by apollo/client). This particular query returns username
// of the currently logged in user.
const query = gql`
  query {
    currentUserContext{
      ... on UserUser {
        name
      }
    }
  }
`;

const result = await client.query({ query });
console.log(result);
</code>
